* {
    font-family: 'Jost', sans-serif;
}

.row {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    width:430px;
    /* border: 1px solid black; */
    padding: 7px;
}

/* From cssbuttons.io by @adamgiebl */
button {
    color: #090909;
    display: block;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    width: 100px;
    height: 60px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    transition: all .5s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button:hover {
    border: 2px solid white;
    font-size: x-large;
    line-height: 0px;
    transition: all .5s;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }

input:invalid {
    border: 1 px red solid 3px;
}

#findResult {
    width: 200px;
}

#resultField {
    background-color: white;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    width: 360px;
    height: 40px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
}