.row {
    display: flex;
    align-items: center;
    justify-items: center;
}

.button {
    background-color: green;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operator {
    background-color: lightgreen;
}
input:invalid {
    border: red solid 3px;
}

#findResult {
    background-color: fuchsia;
}



#clear {
    background-color: red;
}

#resultField {
    background-color: blueviolet;
    color: white;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}